PORT=3000
SESSION_SECRET=change-this-secret
DATABASE_URL=postgresql://postgres:Supabase@123@db.gbyvuxbylpugbbkmncqq.supabase.co:5432/postgres
SUPABASE_URL=https://gbyvuxbylpugbbkmncqq.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_PVO4-fY-KJmdkii44trFtA_KLVO6TgM
SUPABASE_BUCKET=notes
NODE_ENV=development
